@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection{
    首页
}
@section ContentBody{
    <div>
        <ul>
            <li><button onclick="GoLayuiHome()">跳转Layui页面</button></li>
            <li><button onclick="GoVueHome()">跳转Vue页面</button></li>
            <li><button onclick="GoMvcStudy()">七天MVC</button></li>
            <li><button onclick="GoMvcAreaStudy()">七天MVC(Area)</button></li>
            <li><button onclick="GoLogin()">登录</button></li>
        </ul>
    </div>
}
@section Scripts{
    <script>
    function GoLayuiHome() {
        window.location.href ='@Url.Content("~/layui/Home")';
    }
    function GoVueHome() {
        window.location.href ='@Url.Content("~/Vue/Index")';
    }
    function GoMvcStudy() {
        window.location.href ='@Url.Content("~/Employee/Index")';
    }
    function GoMvcAreaStudy() {
        window.location.href ='@Url.Content("~/SPA/Main/Index")';
    }
    function GoLogin() {
        window.location.href ='@Url.Content("~/FormStudy/Login")';
    }
    </script>
}