
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script type="text/javascript" language="javascript">
            //检查浏览器是否支持
            var isIE = !!window.ActiveXObject;
            var isIE6 = isIE && !window.XMLHttpRequest;
            if (isIE6) {
                window.location.href = "../Error/Browser";
            }
        var timer;
        var contentPath = '@Url.Content("~")'.substr(0, '@Url.Content("~")'.length - 1);

            //回车键
            document.onkeydown = function (e) {
                if (!e) e = window.event; //火狐中是 window.event
                if ((e.keyCode || e.which) == 13) {
                    var btlogin = document.getElementById("toLogin");
                    btlogin.focus();
                    btlogin.click();
                }
            };

            //登录加载
            function Load() {
                window.location.href = '@Url.Content("~/Home/Index")';
                return false;
            }


            function severCheck() {
                if (check()) {
                    var loginName = $("#loginName").val();
                    var password = $("#password").val();
                    var code = $("#code").val();
                    $.ajax({
                        type: "POST",
                        url: '/FormStudy/DoLogin',
                        data: { Account: escape(loginName), Password: escape(password), verifyCode: code },
                        dataType: 'json',
                        cache: false,
                        success: function (rs) {
                            if (parseInt(rs) === -1) {
                                ShowErrorMsg('登录账户不存在');
                                $("#loginName").focus();
                            } else if (parseInt(rs) === 2) {
                                ShowErrorMsg('登录账户被锁定');
                                $("#loginName").focus();
                            } else if (parseInt(rs) === 4) {
                                ShowErrorMsg('登录密码错误');
                                $("#password").val("");
                                $("#password").focus();
                            } else if (parseInt(rs) === 5) {
                                ShowErrorMsg('验证码输入错误');
                                $("#code").val("");
                                $("#code").focus();
                            } else if (parseInt(rs) === 3) {
                                saveCookie();
                                var returnUrl = '@ViewBag.ReturnUrl';
                                if (returnUrl!='') {
                                    window.location.href = '@ViewBag.ReturnUrl';
                                }
                                else {
                                    Load();
                                }
                            } else {
                                ShowErrorMsg(rs);
                            }
                        }
                    });
                }
            }

            $(document).keyup(function (event) {
                if (event.keyCode === 13) {
                    $("#toLogin").trigger("click");
                }
            });

            function changeCode() {
                $("#code").val('');
                $("#codeImg").attr("src", contentPath + "/FormStudy/VerifyCode?time=" + Math.random());
            }

            //客户端校验
            function check() {
                if ($("#loginName").val() === "") {
                    ShowErrorMsg('用户名不得为空');
                    $("#loginName").focus();
                    return false;
                } else {
                    $("#loginName").val(jQuery.trim($('#loginName').val()));
                }

                if ($("#password").val() === "") {
                    ShowErrorMsg('密码不得为空');
                    $("#password").focus();
                    return false;
                }
                if ($("#code").val() === "") {
                    ShowErrorMsg('验证码不得为空');
                    $("#code").focus();
                    return false;
                }

                //$("#loginbox").tips({
                //    side: 1,
                //    msg: '正在登录 , 请稍后 ...',
                //    bg: '#68B500',
                //    time: 10
                //});

                return true;
            }

            function saveLogin() {
                if (!$("#savePwd").prop("checked")) {
                    $.cookie('loginName', '', {
                        expires: -1
                    });
                    $.cookie('password', '', {
                        expires: -1
                    });
                    $("#loginName").val('');
                    $("#password").val('');
                }
            }

            function saveCookie() {
                if ($("#savePwd").prop("checked")) {
                    $.cookie('loginName', $("#loginName").val(), {
                        expires: 7
                    });
                    $.cookie('password', $("#password").val(), {
                        expires: 7
                    });
                }
            }
            function cancel() {
                $("#loginName").val('');
                $("#password").val('');
            }

            $(document).ready(function () {
                //changeCode();
                $("#codeImg").bind("click", changeCode);

                var loginName = $.cookie('loginName');
                var password = $.cookie('password');
                if (typeof (loginName) != "undefined"
                    && typeof (password) != "undefined") {
                    $("#loginName").val(loginName);
                    $("#password").val(password);
                    $("#savePwd").prop("checked", true);
                    $("#code").focus();
                }
            });
        function ShowErrorMsg(msg) {
            layer.msg(msg, { icon: 5, time: 1500 });
        }
    </script>
</head>
<body>
    <div style="width:100%;text-align: center;margin: 0 auto;position: absolute;">
        <div id="loginbox">
            <form action="" method="post" name="DoLogin" aria-valueminid="DoLogin">
                <div>
                    <input type="text" name="loginName" id="loginName" value="" placeholder="请输入用户名" />
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="请输入密码" value="" />
                </div>
                <div>
                    <div>
                        <font color="black">记住密码</font>
                    </div>
                    <div>
                        <input name="form-field-checkbox" id="savePwd" type="checkbox" onclick="saveLogin();" style="padding-top:0px;" />
                    </div>
                </div>
                <div>
                    <div>
                        <input type="text" name="code" id="code" style="height:16px; padding-top:4px;" />
                    </div>
                    <div>
                        <i>
                            <img style="height:22px;" id="codeImg" alt="点击更换" title="点击更换" src="~/FormStudy/VerifyCode" />
                        </i>
                    </div>
                    <span style="padding-right:3%;"><a href="javascript:cancel();" class="btn btn-success">取消</a></span>
                    <span><a onclick="severCheck();" id="toLogin">登录</a></span>
                </div>
            </form>
        </div>
    </div>
    <script src="~/Content/my/jquery.cookie.js"></script>
</body>
</html>