@using MyBlog.Models
@using Microsoft.Owin.Security
@model LoginViewModel
@{
    ViewBag.Title = "登录";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken();
                <h4>使用账户登陆系统</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="col-md-2 control-label">用户名：</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(t => t.UserName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">密码：</label>
                    <div class="col-md-10">
                        @Html.PasswordFor(t => t.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="登录" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("注册新用户", "Register")
                </p>
            }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            <h4>使用第三方登录</h4>
            <hr />
            @{
                var logInProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                if (logInProviders.Count() == 0)
                {
                    <div>
                        <p>没有可用的第三方登陆方式</p>
                    </div>
                }
                else
                {
                    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="socialLoginList">
                            @foreach (AuthenticationDescription item in logInProviders)
                            {
                                <button type="submit" class="btn btn-default" id="@item.AuthenticationType" name="provider" value="@item.AuthenticationType" title="使用 @item.Caption 账户登录">@item.AuthenticationType</button>
                            }
                        </div>
                    }
                }
            }
        </section>
    </div>
</div>
